* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ED704F; /* Cor de fundo */
    font-family: 'BasicChoice', sans-serif; /* Fonte personalizada */
    color: #1D2814; /* Cor do texto */
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    position: relative; /* Cabeçalho rola com a página */
    z-index: 10;
}

#header-image {
    width: 100%;
}

main {
    padding-top: 120px; /* Espaço para o cabeçalho */
    padding-bottom: 120px; /* Espaço para o rodapé */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: row; /* Flex direção para layout estendido */
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.left-image {
    height: auto; /* A imagem pode ter altura automática */
    max-width: 50%; /* Limita a largura máxima da imagem */
    width: 100%; /* A imagem ocupará 50% na versão estendida */
    object-fit: cover;
    position: relative;
    z-index: -1; /* A imagem fica atrás do texto */
}

.text-container {
    background-color: #F4E6CB; /* Cor do retângulo */
    width: auto;
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza o texto dentro do retângulo */
}

.text-container p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #1D2814;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.button {
    background-color: #7FB1C8;
    color: #F4E6CB;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 25px; /* Borda arredondada */
    text-align: center; /* Texto centralizado */
}

footer {
    width: 100%;
    position: relative; /* Rodapé rola com a página */
    bottom: 0;
    left: 0;
}

#footer-image {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column; /* Layout de coluna para tela menor */
        padding: 10px;
    }

    .left-image {
        width: 100%; /* A imagem ocupa 100% na versão encurtada */
        height: auto;
    }

    .text-container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .text-container p {
        font-size: 1.2rem;
    }

    .button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}
